---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import type { GameInterface } from '../interfaces/game.interface';
import FrameworkList from '../components/FrameworkList.astro';
import CardReact from '../components/react/CardReact';
import CardVue from '../components/vue/CardVue.vue';


const options = {
    method: 'GET',
    headers: {
        'X-RapidAPI-Host': 'free-to-play-games-database.p.rapidapi.com',
        'X-RapidAPI-Key': '7ff0dcbba6msh3e9a44a4a9d77d5p1cad6bjsn5025470c6125'
    }
};

const data = await fetch('https://free-to-play-games-database.p.rapidapi.com/api/games', options).then((response) => response.json());
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="main-title">
			<h1>Welcome to <span class="text-gradient">Free to Play</span> games</h1>
			<FrameworkList />
		</div>
		<ul role="list" class="link-card-grid">
		    {data.splice(0,10).map( (game: GameInterface) => <CardVue game={game} />)}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 1320px;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		color: #dfdfdf;
	}
	.main-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
