---
import Layout from '../layouts/Layout.astro';
import FrameworkList from '../components/FrameworkList.astro';
import Cards from '../components/Cards.astro';
import { FrameworkEnum } from '../interfaces/framework.interface';
import { gameList } from '../nanostore/games';

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="main-title">
			<h1>Welcome to <span class="text-gradient">Free to Play</span> games</h1>
			<FrameworkList framework={FrameworkEnum.VUE}  />
		</div>
		<Cards games={gameList.get() || []}  framework={FrameworkEnum.VUE} />
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient-vue);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
