---
import { FrameworkInterface, frameworkListMock } from "../interfaces/framework.interface";

const frameworkList: FrameworkInterface[] = frameworkListMock;
---

<div class="framework-list">
    {frameworkList.map( framework => <img class={framework.title} alt={framework.title} src={framework.image}/>)}
</div>
<style>
	.framework-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
    .framework-list > img {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.75rem;
    }
    .framework-list > .solid-js {
        width: 3.5rem;
        height: 3.5rem;
    }
    .framework-list > .svelte {
        width:2rem;
    }
    .framework-list > .vue {
        width: 1.8rem;
        height: 2rem;
        margin-left: 1.25rem;
    }
    .framework-list > .astro {
        width: 3rem;
        height: 3rem;
    }
    .framework-list > .selected {
        background: #dfdfdf;
        border-radius: 50%;
    }
</style>
